body {
    background-color: #e0e8f0;
}
.image-grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 50px;
    row-gap: 50px;
    align-items: center;
}
.css-images {
    width: 100vw;
    border-radius: 2vw;
    border-color: red;
    border-style: solid;
    cursor: pointer;
    margin-right: 10px;
}
.css-qno {
    margin: 0;
    padding: 0;
    font-size: 25px;
}
.ocr-button {
    margin-top: 5px;
    margin-bottom: 5px;
    /* margin-left: 10px; */
    height: 40px;
    width: 80px;;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: orange;
    cursor: pointer;
    transition: background-color 0.15s;
}
.ocr-button:hover {
    background-color: red;
}

.ocr-button:active {
    box-shadow: 1px 1px 3px black;
    opacity: 0.9;
}

.ocr-output-class {
    background-color: white;
    border-width: 2px;
    border-style: solid;
    padding: 3px;
    margin: 10px;
}

.pablo-image {
    width: 80px;
    display: block;
    margin: auto;
}