body {
    margin: 30px;
}
.image-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px;
}
.css-images {
    width: 100vw;
    border-radius: 2vw;
    border-color: red;
    border-style: solid;
}